<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn12 {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer12 {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar12 {
  width: 40%;
  border-radius: 50%;
}

.container12 {
  padding:10px 16px;
}

span.psw12 {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw12 {
     display: block;
     float: none;
  }
  .cancelbtn12 {
     width: 100%;
  }
}
.container1 { 
  height: 100%;
  position: relative;
  left:35%;
  right:50%;
  bottom:5%;
}
/* Float four columns side by side */
.column12 {
  float: left;
  width: 80%;
  padding: 200px 40px;
}

/* Remove extra left and right margins, due to padding */
.row12 {margin:50px-20px;}

/* Clear floats after the columns */
.row12:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column12 {
    width: 100px;
    display: block;
    margin-bottom: 50px;
  }
}

/* Style the counter cards */
.card12 {
  box-shadow: 0 14px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 80px;
  text-align: center;
   width: 500px;
   border: 10px solid rgb(255, 170, 0);
  background-color: #00f7ff;
}
</style>